:root{
    /* FONTES */
    --font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-p:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* NAV BAR */
    --nav-background-color:#262626;
    --nav-color:#FFFFFF;
    --nav-color-hover:#7D89A1;
    --font-size:1.2em;
    
    /* BANNER */
    --color-p:#f4f4f4bb;
    --background-color:#26010477;

    /* CARDS  */
    --title-color-card:#260101;
    --card-border:#F2CF63;
    --p-color-card:#590202;
    --box-shadow-card:#757575;

    /* FOOTER */
    --color-text: #F2CF63;
}