:root {
    /* FONTES */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-p: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* NAV BAR */
    --nav-background-color: #262626;
    --nav-color-border: #ccc;
    --nav-color-a: #ffffff;
    --nav-color-hover: #7D89A1;
    --font-size: 1.2em;

    /* BANNER */
    --color-p: #BFBFBF;
    --background-color: #232626;

    /* ABOUT ME  */
    --title-color-about: #BFBFBF;
    --title-color-span: #465947;
    --p-color-about: #f5f4f4;
    --box-shadow-card: #757575;
    --border-image: #465947;
    --background-color-about: linear-gradient(0deg, rgba(13, 8, 5, 1) 19%, rgba(64, 64, 64, 1) 96%);

    /* CARDS - SOFTSKILLS - HARDSKILL*/
    --title-color-card: #aaa9a9;
    --card-border: #F2CF63;
    --p-color-card: #c0c0c0;
    --box-shadow-card: #757575;
    --background-color-card: #00040D;

    /* FOOTER */
    --color-text: #F2CF63;
}