:root {
    /* FONTES */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-p: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* NAV BAR */
    --nav-background-color: #262626;
    --nav-color-border: #ccc;
    --nav-color-a: #ffffff;
    --nav-color-hover: #7D89A1;
    --font-size: 1.2em;

    /* BANNER */
    --color-p: #BFBFBF;
    --background-color: #232626;

    /* ABOUT ME  */
    --title-color: #8f8f8f;
    --title-color-span: #ffffff;
    --p-color: #f5f4f4;
    --box-shadow-card: #275950;
    --border-image: #68A69B;
    --background-color-about: linear-gradient(0deg, rgba(13, 8, 5, 1) 19%, rgba(68, 68, 68, 1) 93%);


    /* CARDS - SOFTSKILLS - HARDSKILL*/
    --title-color-card: #aaa9a9;
    --p-color-card: #c0c0c0;
    --box-shadow-card: inset 20px 20px 20px rgba(255, 255, 255, 0.2),
        25px 35px 20px rgba(255, 255, 255, 0.05),
        25px 30px 30px rgba(255, 255, 255, 0),
        inset -20px -20px 25px rgba(255, 255, 255, 0.103);
    --background-color-card: #0D0805;
    --background-color-card-hardskill: linear-gradient(0deg, #011F26 19%, rgba(13, 8, 5, 1) 96%);
    --icone-hardskill: #3f4b4e;

    /* PROJECTS CAROUSEL */
    --background-projects: #011F26;
    --title-color-project: #a0e9ff;
    --h3-color-project: #fff;
    --p-color-projects: #b0d4e3;
    --button-btn: #fff;
    --water-btn-hover-background: #011F26;
    --water-btn-hover-color: #9CCED9;

    /* Training */
    --color-p-training: #aaa9a9;
    --time-training: #9CCED9;
    --backgound-color-training: #011f26;

    /* FOOTER */
    --color-text: white;
    --background-color-footer: linear-gradient(0deg, rgba(53, 135, 242, 1) 19%, #011f26 96%);
    --background-color-card-footer: #3587F2;

}